.flex {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-around;
 align-items: baseline;
 align-content: flex-start;
 height: 500px;
}

.bg-red {
 background-color: red;
}

.width {
 background-color: green;
 width: 500px;
}
